
@media all and (max-width: 1450px) {

    /* Project row, changing it so that it is a smaller max width. */
    .project-row {
        max-width: 700px;
    }

    /* Changing the summary + overview so it is in two separate rows. */

    .project-row .span-2-of-2 {
		width: 100%; 
	}
	.project-row .span-1-of-2 {
		width: 100%; 
	}

    .project-summary {
        padding-right: 0;
    }
}

@media all and (max-width: 1140px) {
    .row {
        max-width: 800px;
    }

    
    /* MAKING PROJECT GRID DISPLAY TWO AT A TIME */
    
    .project {
        float:left;
        width: 47%;
        margin-right: 1.5%;
        margin-left: 1.5%;
    }

}


/* CHANGING THE PROJECT PAGES YOU CAN'T NAVIGATE BETWEEN THEM ANYMORE :( */

@media all and (max-width: 1024px) {
   
    .project-bg {
        padding-top: 0;
    
    }

    .project-bg-image {
        display: none;
    }

    .project-info-holder {
        margin: 0;
    }

    .side-cross {
        display: none;
    
    }

    .project-nav-button {
        display: none;
    }

}

@media all and (max-width: 900px) {
    .row {
        max-width: 700px;
    }

    .project-row.small {
        margin: 0 10%;
    }

    .project-row {
        margin: 0 10%;
    }

    

}

@media all and (max-width: 700px) {
    .row {
        max-width: 500px;
    }

    /* MENU CHANGES */

    .menu {
        bottom: 0;
        top: auto;
        left: 0;
        height: 60px;
        width: 100%;
        border-radius: 0;
        transition: all 0.5s;
        z-index: 3;
    }



    .menu-bar {
        z-index: 2;
        height: calc(80vh);
        width: 100%;
        left: -100%;
        bottom: -100%;
        top: auto;
        
    }
    
    .menu-bar.active {
        bottom: 0;
        right: 0;
        left: auto;
    }

    .menu.active {
        transform: translateX(0);
    }

    section.active {
        animation: none;
        transform: translateX(0);
    }

    section.de-active {
        animation: none;
    }

    .row.projects-container {
        max-width:350px;
    }

    .project {
        float:left;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

}

@media all and (max-width: 500px) {

    .row {
        padding: 0 50px;
    }
    .row.projects-container {
        padding: 0;
    }

    html {
        font-size: 22px;
    }

    .smaller-width {
        width: 100%;
    }

    .heading-holder {
        width: 100%;
    }


    /* HEADINGS */

    .number-larger-white,
    .number-larger-gray {
        font-size: 550%;
    }

    h2 {
        font-size: 180%;
    }


    .smaller-width {
        font-weight: 400;
    }

    .project-overview {
        width: calc(100% + 14%);
        margin-left: -7%;

    }

    /* PROJECT-PAGE: CHANGING THE OVERVIEW BULLETS TO ONE LINE */

    .text-description .span-1-of-8 {
        width: 100%;
    }
    .text-description .span-7-of-8 {
        width: 100%;
    }
    .text-description .span-1-of-7 {
        width: 100%;
    }
    .text-description .span-6-of-7 {
        width: 100%;
    }

    .text-description .col-for-bullets {
        padding-right: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--darkest-gray-color);
        border-right: none;
    }

    .text-description .number-bullet,
    .text-description .bullet-subheading {
        text-align: left;
        display: inline-block;
    }

    .text-description .number-bullet ion-icon {
        margin-bottom: -3px;
    }

    .text-description .explanation-bullet {
        padding: 5px 0 0 0;
        font-size: 65%;
        font-style: italic;
        margin-bottom: 10px;
    }

    .text-description .col {
        margin: 0;
    }

    /* PROJECT PAGE: CHANGING THE IMAGES AND H4 HEADINGS TO CENTER */

    .project-row .col-box img {
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
    .project-row .col-box img,
    .project-row .col-box h4{
        text-align: center;
    }
    .project-row .col-box p{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* MAKING H3 BEFORE SMALLER */

    h3 {
        margin-left: 50px;
    }
    
    h3::before {
        width: 40px;
        transform: translate(-50px, 12px);
    }

    /* MAKING PROJECTS LOOK GOOD */

    .row.projects-container {
        max-width:300px;
    }

    .project-description .smaller-text {
        display: none;
    }

    .project-selector {
        display: none;
    }
}